﻿body{
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

hr{
    border-top-color:#ABABAB;
}
td{
    vertical-align:central;
}

.section{
    padding: 15px;
    margin-bottom:10px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-body{
    background-color:#1abc9c;
    color: whitesmoke;
}
.sk-spinner-wave div{
    background-color: whitesmoke;
}

/*#region Alerts*/


/*#endregion*/

/*#region Home*/
/* Jumbotron */
.hero{
    background-color: #1abc9c;
    /*background-image: -ms-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
    background-image: -moz-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
    background-image: -o-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
    background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #55e7ca), color-stop(1, #1abc9c));
    background-image: -webkit-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
    background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0%, #1abc9c 100%);*/
}

section .detalles{
    background-color: whitesmoke;
    color:black;
}

.detalles h2{
    color: #3498db;
}

.jumbotron.home{
    box-shadow: none;
    background-color: transparent;
    color:whitesmoke;
}

.space{
    margin-left:20px;
}

.space-right{
    margin-right:20px;
}

.no-side-padding{
    padding-left: 0;
    padding-right: 0;
}

.margin{
    margin-top:20px;
    margin-bottom: 20px;
}

.full-margin{
    margin: 20px;
}
/*#endregion*/
/*#region ListadoFacturas*/
table .flat{
    background-color: rgb(112, 196, 105);
    color:white;
}
thead .flat{
    background-color: rgb(112, 196, 105);
}
/* Animations */
    
.green-btn{
    background-color: #2ecc71;
    border: none;
}


/*#region Formas */

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.text-align {
    text-align:center;
}

.center-form-section{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.form-section {
    width: 100%;
    max-width: 360px;
}

.section-content {
    margin-top: 5vh;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.form-action {
    padding: 15px 20px 20px 20px;
}

.eternity-form {
  font-family: 'Roboto', 'PT Sans', sans-serif;
  font-weight: 300;
  color: #95a5a6;
}

.eternity-form .section-title h3, .register-section h4 {
  color: #3498db;
}

.shadow-form{
    box-shadow:5px 5px 5px #888888;
    background-color:yellow;
}
/*#endregion */

/*#region Login */

/*#endregion */



/*#region checkbox */

.checkbox {
    display: inline-block;
    padding-left: 1px;
    margin-top: 7px;
    margin-bottom: 0;
}

.custom-checkbox {
    float: left;
}

.checkbox-text {
    line-height: 24px;
    padding-left: 5px;
}

/*#endregion */

/*#region iCheckbox */

.icheckbox_square-blue {
    background-position: 0 0;
}

.icheckbox_square-blue.hover {
    background-position: -24px 0;
}

.icheckbox_square-blue.checked {
    background-position: -48px 0;
}

.icheckbox_square-blue, .iradio_square-blue {
    display: block;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../imgs/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

/*#endregion */



.section-title{
    padding: 10px 20px;
}

/* Registro */

.register-content{
    margin-top: 10vh;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.register-form-section{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.textbox-wrap-login{
    padding: 20px 20px 20px 15px;
    border-left: 5px solid transparent;
    -moz-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
    -o-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
    -webkit-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
}

.textbox-wrap{
    padding: 10px 20px 10px 15px;
    border-left: 5px solid transparent;
    -moz-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
    -o-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
    -webkit-transition: border-left-color 0.5s, box-shadow 0.5s, background-color 0.5s;
}

.errors{
    padding: 20px 20px 20px 15px;
    background-color: rgb(255, 229, 229);
    border-left: 5px solid red;
    color: #212121;
}

.errors ul{
    list-style: none;
}

.textbox-wrap.focused{
    border-left-color: #3498db;
    background-color: #f0f0f0;
    box-shadow: inset 0 0 3px rgba(0,0,0,.1);
}

.textbox-wrap.error{
    border-left-color: red;
    background-color: #f0f0f0;
    box-shadow: inset 0 0 3px rgba(0,0,0,.1);
}

.error-text{
    color:rgb(255, 76, 76);
}

.register-section{
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 20px 20px 15px;
}

.password-section{
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 20px 20px 15px;
}

.green{
    color:#2ecc71;
}

.btn, .jumbotron, .panel, .panel-heading, .input-group-addon, .form-control{
    border-radius: 0!important;
}



.jumbotron{
    background-color:white;
      box-shadow: 0 3px 12px #888888;
}

/* Colores NavBar */
.navbar{
      box-shadow: 0 3px 12px #4D4D4D;
      margin-bottom: 0;
}

.navbar-default {
  background-color: #9a9a9a;
  border-color: #525252;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f0f7f7;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f0f7f7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f0f7f7;
  background-color: #525252;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f0f7f7;
  background-color: #525252;
}
.navbar-default .navbar-toggle {
  border-color: #525252;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #525252;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #f0f7f7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f0f7f7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f0f7f7;
    background-color: #525252;
  }
}

.searchingScreen {
    width:100%;
    height:100vh;
    background-color:aliceblue;
}

.imgSearch {
    position:absolute;
    top:50%;
    left:45%;
    height:55px;
    opacity:.3;
    display:none;
}

.hideInitial {
    display:none;
}

.captionOverride {
    display: table-caption;
    text-align: center;
} 

.logo{
    height: 35px;
    margin-top: -10px;
}