﻿<nav class="navbar navbar-default" ng-controller="NavbarController as NavbarCtrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" src="imgs/pemex-logo.png"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navegacion">
            <ul class="nav navbar-nav">
                <!--<li ui-sref-active="active"><a ui-sref="home">Inicio</a></li>-->
                <li ui-sref-active="active"><a ui-sref="facturar" >Facturar</a></li>
                <li ui-sref-active="active"><a ui-sref="listadoFacturas"  hc-auth>Mis Facturas</a></li>
                <li ui-sref-active="active"><a ui-sref="admin" hc-auth="['Admin']">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-hide="NavbarCtrl.Auth.Logged">
                    <a ui-sref="login"> Iniciar Sesión</a>
                </li>
                <li hc-auth>
                    <a href="#/User/Datos">Mi Cuenta ({{NavbarCtrl.Auth.User.UserName}})</a>
                </li>
                <li hc-auth>
                    <a ng-click="NavbarCtrl.Logoff()" href=""> Cerrar sesión</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>