﻿<div ng-form="DatosFiscalesCtrl.DatosFiscalesForm">
    <div class="section-content col-sm-12 no-side-padding">
        <div class="section-title">
            <h4>Ingresa tus Datos Fiscales</h4>
        </div>

        <!-- RFC -->
        <form-input 
                    size="col-sm-12" 
                    name="RFC"
                    id="rfcInput"
                    placeholder="RFC"
                    model="DatosFiscalesCtrl.Cliente.RFC"
                    pattern="[A-Za-z]{3,4}[0-9]{6}[0-9A-Za-z]{2}[0-9]{1}"
                    error-text="RFC Inválido"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"
                    icon="fa-font"
                    required="true"></form-input>

        <!-- Razon Social -->
        <form-input size="col-sm-12"
                    name="RazonSocial"
                    id="razonSocialInput"
                    placeholder="Razón Social"
                    model="DatosFiscalesCtrl.Cliente.RazonSocial"
                    pattern="[0-9A-Za-z,.]{3,50}"
                    error-text="Razón Social inválida"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"
                    icon="fa-font"
                    required="true"></form-input>

        <!-- Pais -->
        <div class="col-sm-12 textbox-wrap">
            <!--TODO :Formatear bien los formularios-->
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-globe"></i>
                </span>
                <select name="Pais"
                        class="form-control"
                        id="paisInput"
                        ng-options="pais.Nombre for pais in DatosFiscalesCtrl.Paises"
                        ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                        ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                        ng-model="DatosFiscalesCtrl.Direccion.Pais"
                        ng-model-options="{ updateOn: 'blur' }"
                        required>
                    <option value="" disabled selected>Selecciona el País</option>
                </select>
            </div>
        </div>

        <!-- Estado -->
        <div class="col-sm-12 textbox-wrap">
            <!--TODO :Formatear bien los formularios-->
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-globe"></i>
                </span>
                <select name="Estado"
                        class="form-control"
                        id="estadoInput"
                        ng-options="estado.Nombre for estado in DatosFiscalesCtrl.Direccion.Pais.Estados "
                        ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                        ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                        ng-model="DatosFiscalesCtrl.Direccion.Estado"
                        ng-model-options="{ updateOn: 'blur' }"
                        required>
                    <option value="" disabled selected>Selecciona el Estado</option>
                </select>
            </div>
        </div>

        <!-- Municipio -->
        <form-input size="col-sm-12"
                    name="Municipio"
                    id="municipioInput"
                    placeholder="Municipio"
                    model="DatosFiscalesCtrl.Direccion.Municipio"
                    pattern="[0-9A-Za-z,.]{3,50}"
                    error-text="Municipio inválido"
                    icon="fa-location-arrow"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"
                    required="true"></form-input>

        <!-- Localidad -->
        <form-input size="col-sm-12"
                    name="Localidad"
                    id="localidadInput"
                    placeholder="Localidad (Opcional)"
                    model="DatosFiscalesCtrl.Direccion.Localidad"
                    pattern="[0-9A-Za-z,.]"
                    error-text="Localidad inválida"
                    icon="fa-compass"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"></form-input>
        <!-- Colonia -->
        <form-input size="col-sm-12"
                    name="Colonia"
                    id="coloniaInput"
                    placeholder="Colonia"
                    model="DatosFiscalesCtrl.Direccion.Colonia"
                    pattern="[0-9A-Za-z,.]{3,50}"
                    error-text="Colonia inválida"
                    icon="fa-thumb-tack"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"
                    required="true"></form-input>

        <!-- Calle -->
        <form-input size="col-sm-12"
                    name="Calle"
                    id="calleInput"
                    placeholder="Calle"
                    model="DatosFiscalesCtrl.Direccion.Calle"
                    pattern="[0-9A-Za-z,.]{3,50}"
                    error-text="Calle inválida"
                    icon="fa-road"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"
                    required="true"></form-input>

        <!-- # Ext -->
        <form-input size="col-sm-12"
                    name="NumExterior"
                    id="numExteriorInput"
                    placeholder="NumExterior"
                    model="DatosFiscalesCtrl.Direccion.NumExterior"
                    pattern="^[0-9A-Za-z]{0,50}$"
                    error-text="NumExterior inválido"
                    icon="fa-slack"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"
                    required="true"></form-input>

        <!-- # Int -->
        <form-input size="col-sm-12"
                    name="NumInterior"
                    id="numInteriorInput"
                    placeholder="NumInterior (Opcional)"
                    model="DatosFiscalesCtrl.Direccion.NumInterior"
                    error-text="NumInterior inválido"
                    icon="fa-slack"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"></form-input>

        <!-- Codigo Postal -->
        <form-input size="col-sm-12"
                    name="CodigoPostal"
                    id="codigoPostalInput"
                    placeholder="Código Postal"
                    model="DatosFiscalesCtrl.Direccion.CodigoPostal"
                    pattern="^[0-9]{3,6}$"
                    error-text="CodigoPostal inválido"
                    icon="fa-slack"
                    form="DatosFiscalesCtrl.DatosFiscalesForm"
                    required="true"></form-input>

    </div>
</div>