﻿<form name="datosFiscalesForm" ng-submit="DatosFiscalesCtrl.OnSubmit()" novalidate>
    <div class="section-content col-sm-12 no-side-padding">
        <div class="section-title">
            <h4>Ingresa tus Datos Fiscales</h4>
        </div>

        <!-- RFC -->
        <div class="col-sm-6 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.RFC.$invalid && !datosFiscalesForm.RFC.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.RFC.$invalid && !datosFiscalesForm.RFC.$pristine">RFC inválido</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-font"></i>
                </span>
                <input type="text"
                       name="RFC"
                       id="rfcInput"
                       class="form-control" 
                       placeholder="RFC"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Cliente.RFC"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-pattern="/[A-Z]{3,4}[0-9]{6}[0-9A-Z]{2}[0-9]{1}/"
                       required />
            </div>
        </div>

        <!-- Razon Social -->
        <div class="col-sm-6 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.RazonSocial.$invalid && !datosFiscalesForm.RazonSocial.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.RazonSocial.$invalid && !datosFiscalesForm.RazonSocial.$pristine">Razón Social inválida</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-font"></i>
                </span>
                <input type="text"
                       name="RazonSocial"
                       id="razonSocialInput"
                       class="form-control"
                       placeholder="Razón Social"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Cliente.RazonSocial"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                       required />
            </div>
        </div>

        <!-- Pais -->
        <div class="col-sm-6 textbox-wrap">
            <!--TODO :Formatear bien los formularios-->
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-globe"></i>
                </span>
                <select name="Pais"
                        class="form-control"
                        id="paisInput"
                        ng-options="pais.Nombre for pais in DatosFiscalesCtrl.Paises"
                        ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                        ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                        ng-model="DatosFiscalesCtrl.Direccion.Pais"
                        ng-model-options="{ updateOn: 'blur' }"
                        required>
                    <option value="" disabled selected>Selecciona el País</option>
                </select>
            </div>
        </div>

        <!-- Estado -->
        <div class="col-sm-6 textbox-wrap">
            <!--TODO :Formatear bien los formularios-->
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-globe"></i>
                </span>
                <select name="Estado"
                        class="form-control"
                        id="estadoInput"
                        ng-options="estado.Nombre for estado in DatosFiscalesCtrl.Direccion.Pais.Estados "
                        ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                        ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                        ng-model="DatosFiscalesCtrl.Direccion.Estado"
                        ng-model-options="{ updateOn: 'blur' }"
                        required>
                    <option value="" disabled selected>Selecciona el Estado</option>
                </select>
            </div>
        </div>

        <!-- Colonia -->
        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Colonia.$invalid && !datosFiscalesForm.Colonia.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.Colonia.$invalid && !datosFiscalesForm.Colonia.$pristine">Colonia inválida</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-thumb-tack"></i>
                </span>
                <input type="text"
                       name="Colonia"
                       id="coloniaInput"
                       class="form-control"
                       placeholder="Colonia"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Direccion.Colonia"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                       required />
            </div>
        </div>

        <!-- Municipio -->
        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Municipio.$invalid && !datosFiscalesForm.Municipio.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.Municipio.$invalid && !datosFiscalesForm.Municipio.$pristine">Municipio inválido</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-location-arrow"></i>

                </span>
                <input type="text"
                       name="Municipio"
                       id="municipioInput"
                       class="form-control"
                       placeholder="Municipio"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Direccion.Municipio"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                       required />
            </div>
        </div>

        <!-- Localidad -->
        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Localidad.$invalid && !datosFiscalesForm.Localidad.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.Localidad.$invalid && !datosFiscalesForm.Localidad.$pristine">Localidad inválida</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-compass"></i>
                </span>
                <input type="text"
                       name="Localidad"
                       id="localidadInput"
                       class="form-control"
                       placeholder="Localidad"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Direccion.Localidad"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                       required />
            </div>
        </div>

        <!-- Calle -->
        <div class="col-sm-12 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Calle.$invalid && !datosFiscalesForm.Calle.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.Calle.$invalid && !datosFiscalesForm.Calle.$pristine">Calle inválida</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-road"></i>
                </span>
                <input type="text"
                       name="Calle"
                       id="calleInput"
                       class="form-control"
                       placeholder="Calle"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Direccion.Calle"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                       required />
            </div>
        </div>

        <!-- # Int -->
        <div class="textbox-wrap col-sm-4" ng-class="{ 'error': datosFiscalesForm.NumInterior.$invalid && !datosFiscalesForm.NumInterior.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.NumInterior.$invalid && !datosFiscalesForm.NumInterior.$pristine">Sólo valores numéricos</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-slack"></i>
                </span>
                <input type="text"
                       name="NumInterior"
                       id="numInteriorInput"
                       class="form-control"
                       placeholder="# Int"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Direccion.NumInterior"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-pattern="/[0-9]/"
                       required />
            </div>
        </div>

        <!-- # Ext -->
        <div class="textbox-wrap col-sm-4" ng-class="{ 'error': datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine">Sólo valores numéricos</p>
            <p class="error-text" ng-show="">Contraseña invalida</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-slack"></i>
                </span>
                <input type="text"
                       name="NumExterior"
                       id="numExteriorInput"
                       class="form-control"
                       placeholder="# Ext"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Direccion.NumExterior"
                       ng-model-options="{ updateOn: 'blur' }"
                       required />
            </div>
        </div>

        <!-- Codigo Postal -->
        <div class="col-sm-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine}">
            <p class="error-text" ng-show="datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine">Sólo valores numéricos</p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-slack"></i>
                </span>
                <input type="text"
                       name="CodigoPostal"
                       id="codigoPostalInput"
                       class="form-control"
                       placeholder="Codigo Postal"
                       ng-focus="DatosFiscalesCtrl.OnFocus($event)"
                       ng-blur="DatosFiscalesCtrl.OnBlur($event)"
                       ng-model="DatosFiscalesCtrl.Direccion.CodigoPostal"
                       ng-model-options="{ updateOn: 'blur' }"
                       required />
            </div>
        </div>
    </div>
</form>