﻿<div class="{{size + ' textbox-wrap'}}" ng-class="{ 'error': form[name].$invalid && !form[name].$pristine}">
    <p class="error-text" ng-repeat="error in errors" ng-show="form[name].$invalid && !form[name].$pristine">{{error}}</p>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="{{'fa '+icon}}"></i>
        </span>
        <input type="{{type}}"
               name="{{name}}"
               id="{{id}}"
               class="form-control"
               placeholder="{{placeholder}}"
               ng-focus="OnFocus($event)"
               ng-blur="OnBlur($event)"
               ng-model="model"
               ng-model-options="{ debounce: 500 }"
               ng-pattern="Regx"
               ng-required="required" />
    </div>
</div>