﻿<div id="FacturaPanel">
    <div class="container-fluid">

    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div collapse="!FacturarCtrl.ErrorFacturar">
                    <alert type="danger" close="FacturarCtrl.ErrorFacturar = false" style="margin-top:10px;margin-bottom:0;"><i class="fa fa-warning space-right"></i>{{FacturarCtrl.FacturaErrorMessage}}</alert>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Datos Fiscales Usuario No Registrado -->
            <div class="col-sm-12" not="true" hc-auth>
                <form name="datosFiscalesForm" ng-submit="FacturarCtrl.sendFacturaDataAnon(FacturarCtrl.Factura)" novalidate>
                    <div class="section-content col-sm-12 no-side-padding">
                        <div class="section-title">
                            <h4>Ingresa tus Datos Fiscales</h4>
                        </div>

                        <!-- RFC -->
                        <div class="col-sm-6 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.RFC.$invalid && !datosFiscalesForm.RFC.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.RFC.$invalid && !datosFiscalesForm.RFC.$pristine">RFC inválido</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </span>
                                <input type="text"
                                       name="RFC"
                                       id="rfcInput"
                                       class="form-control text-uppercase"
                                       placeholder="RFC"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Cliente.DatosFiscales.RFC"
                                       ng-model-options="{ debounce: 500 }" 
                                       ng-pattern="/[A-Za-z]{3,4}[0-9]{6}[0-9A-Za-z]{2}[0-9]{1}/"
                                       required />
                            </div>
                        </div>

                        <!-- Razon Social -->
                        <div class="col-sm-6 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.RazonSocial.$invalid && !datosFiscalesForm.RazonSocial.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.RazonSocial.$invalid && !datosFiscalesForm.RazonSocial.$pristine">Razón Social inválida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </span>
                                <input type="text"
                                       name="RazonSocial"
                                       id="razonSocialInput"
                                       class="form-control"
                                       placeholder="Razón Social"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Cliente.DatosFiscales.RazonSocial"
                                       ng-model-options="{ debounce: 500 }" 
                                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                                       required />
                            </div>
                        </div>

                        <!-- Pais -->
                        <div class="col-sm-6 textbox-wrap">
                            
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-globe"></i>
                                </span>
                                <select name="Pais"
                                        class="form-control"
                                        id="paisInput"
                                        ng-options="pais.Nombre for pais in FacturarCtrl.Paises"
                                        ng-focus="FacturarCtrl.OnFocus($event)"
                                        ng-blur="FacturarCtrl.OnBlur($event)"
                                        ng-model="FacturarCtrl.Direccion.Pais"
                                        ng-model-options="{ debounce: 500 }" 

                                        required>
                                    <option value="" disabled selected>Selecciona el País</option>
                                </select>
                            </div>
                        </div>

                        <!-- Estado -->
                        <div class="col-sm-6 textbox-wrap">
                            <!---->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-globe"></i>
                                </span>
                                <select name="Estado"
                                        class="form-control"
                                        id="estadoInput"
                                        ng-options="estado.Nombre for estado in FacturarCtrl.Direccion.Pais.Estados "
                                        ng-focus="FacturarCtrl.OnFocus($event)"
                                        ng-blur="FacturarCtrl.OnBlur($event)"
                                        ng-model="FacturarCtrl.Direccion.Estado"
                                        ng-model-options="{ debounce: 500 }" 

                                        required>
                                    <option value="" disabled selected>Selecciona el Estado</option>
                                </select>
                            </div>
                        </div>

                        <!-- Municipio -->
                        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Municipio.$invalid && !datosFiscalesForm.Municipio.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Municipio.$invalid && !datosFiscalesForm.Municipio.$pristine">Municipio inválido</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-location-arrow"></i>

                                </span>
                                <input type="text"
                                       name="Municipio"
                                       id="municipioInput"
                                       class="form-control"
                                       placeholder="Municipio"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.Municipio"
                                       ng-model-options="{ debounce: 500 }" 
                                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                                       required />
                            </div>
                        </div>

                        <!-- Localidad -->
                        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Localidad.$invalid && !datosFiscalesForm.Localidad.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Localidad.$invalid && !datosFiscalesForm.Localidad.$pristine">Localidad inválida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-compass"></i>
                                </span>
                                <input type="text"
                                       name="Localidad"
                                       id="localidadInput"
                                       class="form-control"
                                       placeholder="Localidad (Opcional)"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.Localidad"
                                       ng-model-options="{ debounce: 500 }"  />
                            </div>
                        </div>

                        <!-- Colonia -->
                        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Colonia.$invalid && !datosFiscalesForm.Colonia.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Colonia.$invalid && !datosFiscalesForm.Colonia.$pristine">Colonia inválida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-thumb-tack"></i>
                                </span>
                                <input type="text"
                                       name="Colonia"
                                       id="coloniaInput"
                                       class="form-control"
                                       placeholder="Colonia"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.Colonia"
                                       ng-model-options="{ debounce: 500 }" 
                                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                                       required />
                            </div>
                        </div>

                        <!-- Calle -->
                        <div class="col-sm-12 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Calle.$invalid && !datosFiscalesForm.Calle.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Calle.$invalid && !datosFiscalesForm.Calle.$pristine">Calle inválida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-road"></i>
                                </span>
                                <input type="text"
                                       name="Calle"
                                       id="calleInput"
                                       class="form-control"
                                       placeholder="Calle"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.Calle"
                                       ng-model-options="{ debounce: 500 }" 
                                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                                       required />
                            </div>
                        </div>

                        <!-- # Ext -->
                        <div class="textbox-wrap col-sm-4" ng-class="{ 'error': datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine">Sólo valores numéricos</p>
                            <p class="error-text" ng-show="">Contraseña invalida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-slack"></i>
                                </span>
                                <input type="text"
                                       name="NumExterior"
                                       id="numExteriorInput"
                                       class="form-control"
                                       placeholder="# Ext"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.NumExterior"
                                       ng-model-options="{ debounce: 500 }" 
                                       required />
                            </div>
                        </div>

                        <!-- # Int -->
                        <div class="textbox-wrap col-sm-4" ng-class="{ 'error': datosFiscalesForm.NumInterior.$invalid && !datosFiscalesForm.NumInterior.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.NumInterior.$invalid && !datosFiscalesForm.NumInterior.$pristine">Sólo valores numéricos</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-slack"></i>
                                </span>
                                <input type="text"
                                       name="NumInterior"
                                       id="numInteriorInput"
                                       class="form-control"
                                       placeholder="# Int (Opcional)"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.NumInterior"
                                       ng-model-options="{ debounce: 500 }"  />
                            </div>
                        </div>

                        <!-- Codigo Postal -->
                        <div class="col-sm-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.CodigoPostal.$invalid && !datosFiscalesForm.CodigoPostal.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.CodigoPostal.$invalid && !datosFiscalesForm.CodigoPostal.$pristine">Sólo valores numéricos</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-slack"></i>
                                </span>
                                <input type="text"
                                       name="CodigoPostal"
                                       id="codigoPostalInput"
                                       class="form-control"
                                       placeholder="Codigo Postal"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.CodigoPostal"
                                       ng-model-options="{ debounce: 500 }" 
                                       required />
                            </div>
                        </div>

                        <!-- correo -->
                        <div class="col-sm-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Correo.$invalid && !datosFiscalesForm.Correo.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Correo.$invalid && !datosFiscalesForm.Correo.$pristine">Correo Inválido</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </span>
                                <input type="email"
                                       name="Correo"
                                       id="CorreoInput"
                                       class="form-control"
                                       placeholder="correo@electronico.com"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Factura.Correo"
                                       ng-model-options="{ debounce: 500 }" 
                                       ng-pattern="/[0-9A-Za-z,.@]{3,50}/"
                                       required />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Datos Fiscales Usuario Registrado -->
            <div class="col-sm-12" hc-auth>
                <form ng-submit="FacturarCtrl.sendFacturaDataAnon(FacturarCtrl.Factura)" novalidate>
                    <div class="section-content col-sm-12 no-side-padding">
                        <div class="section-title">
                            <h4>Datos Fiscales</h4>
                        </div>

                        <!-- RFC -->
                        <div class="col-sm-6 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.RFC.$invalid && !datosFiscalesForm.RFC.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.RFC.$invalid && !datosFiscalesForm.RFC.$pristine">RFC inválido</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </span>
                                <input type="text"
                                       id="rfcInput"
                                       class="form-control text-uppercase" 
                                       placeholder="RFC" 
                                       ng-focus="FacturarCtrl.OnFocus($event)" 
                                       ng-blur="FacturarCtrl.OnBlur($event)" 
                                       ng-model="FacturarCtrl.Cliente.DatosFiscales.RFC" 
                                       ng-model-options="{ debounce: 500 }"  
                                       ng-pattern="/[A-Z]{3,4}[0-9]{6}[0-9A-Z]{2}[0-9]{1}/"
                                       disabled
                                       required />
                            </div>
                        </div>

                        <!-- Razon Social -->
                        <div class="col-sm-6 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.RazonSocial.$invalid && !datosFiscalesForm.RazonSocial.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.RazonSocial.$invalid && !datosFiscalesForm.RazonSocial.$pristine">Razón Social inválida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </span>
                                <input type="text"
                                       id="razonSocialInput"
                                       class="form-control" 
                                       placeholder="Razón Social" 
                                       ng-focus="FacturarCtrl.OnFocus($event)" 
                                       ng-blur="FacturarCtrl.OnBlur($event)" 
                                       ng-model="FacturarCtrl.Cliente.DatosFiscales.RazonSocial" 
                                       ng-model-options="{ debounce: 500 }"  
                                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                                       disabled
                                       required />
                            </div>
                        </div>

                        <!-- Pais -->
                        <div class="col-sm-6 textbox-wrap">
                            <!---->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-globe"></i>
                                </span>
                                <input 
                                class="form-control"
                                        id="paisInput"
                                        ng-focus="FacturarCtrl.OnFocus($event)" 
                                        ng-blur="FacturarCtrl.OnBlur($event)" 
                                ng-model="FacturarCtrl.PaisNombre"
                                        ng-model-options="{ debounce: 500 }"  
                                        disabled 
                                required/>
                            </div>
                        </div>

                        <!-- Estado -->
                        <div class="col-sm-6 textbox-wrap">
                            <!---->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-globe"></i>
                                </span>
                                <input class="form-control"
                                        id="estadoInput" 
                                        ng-focus="FacturarCtrl.OnFocus($event)" 
                                        ng-blur="FacturarCtrl.OnBlur($event)" 
                                        ng-model="FacturarCtrl.Direccion.Estado.Nombre" 
                                        ng-model-options="{ debounce: 500 }"  
                                        disabled
                                        required/>

                            </div>
                        </div>

                        <!-- Municipio -->
                        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Municipio.$invalid && !datosFiscalesForm.Municipio.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Municipio.$invalid && !datosFiscalesForm.Municipio.$pristine">Municipio inválido</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-location-arrow"></i>
                                </span>
                                <input type="text"
                                       id="municipioInput"
                                       class="form-control"
                                       placeholder="Municipio"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.Municipio"
                                       ng-model-options="{ debounce: 500 }" 
                                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                                       disabled
                                       required />
                            </div>
                        </div>

                        <!-- Localidad -->
                        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Localidad.$invalid && !datosFiscalesForm.Localidad.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Localidad.$invalid && !datosFiscalesForm.Localidad.$pristine">Localidad inválida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-compass"></i>
                                </span>
                                <input type="text"
                                       id="localidadInput"
                                       class="form-control"
                                       placeholder="Localidad"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.Localidad"
                                       ng-model-options="{ debounce: 500 }" 
                                       disabled />
                            </div>
                        </div>

                        <!-- Colonia -->
                        <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Colonia.$invalid && !datosFiscalesForm.Colonia.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Colonia.$invalid && !datosFiscalesForm.Colonia.$pristine">Colonia inválida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-thumb-tack"></i>
                                </span>
                                <input type="text"
                                       id="coloniaInput"
                                       class="form-control" 
                                       placeholder="Colonia" 
                                       ng-focus="FacturarCtrl.OnFocus($event)" 
                                       ng-blur="FacturarCtrl.OnBlur($event)" 
                                       ng-model="FacturarCtrl.Direccion.Colonia" 
                                       ng-model-options="{ debounce: 500 }"  
                                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                                       disabled
                                       required />
                            </div>
                        </div>

                        <!-- Calle -->
                        <div class="col-sm-12 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.Calle.$invalid && !datosFiscalesForm.Calle.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.Calle.$invalid && !datosFiscalesForm.Calle.$pristine">Calle inválida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-road"></i>
                                </span>
                                <input type="text"
                                       id="calleInput"
                                       class="form-control" 
                                       placeholder="Calle" 
                                       ng-focus="FacturarCtrl.OnFocus($event)" 
                                       ng-blur="FacturarCtrl.OnBlur($event)" 
                                       ng-model="FacturarCtrl.Direccion.Calle" 
                                       ng-model-options="{ debounce: 500 }"  
                                       ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                                       disabled
                                       required />
                            </div>
                        </div>

                        <!-- # Ext -->
                        <div class="textbox-wrap col-sm-4" ng-class="{ 'error': datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine">Sólo valores numéricos</p>
                            <p class="error-text" ng-show="">Contraseña invalida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-slack"></i>
                                </span>
                                <input type="text"
                                       id="numExteriorInput"
                                       class="form-control"
                                       placeholder="# Ext"
                                       ng-focus="FacturarCtrl.OnFocus($event)"
                                       ng-blur="FacturarCtrl.OnBlur($event)"
                                       ng-model="FacturarCtrl.Direccion.NumExterior"
                                       ng-model-options="{ debounce: 500 }" 
                                       disabled
                                       required />
                            </div>
                        </div>

                        <!-- # Int -->
                        <div class="textbox-wrap col-sm-4" ng-class="{ 'error': datosFiscalesForm.NumInterior.$invalid && !datosFiscalesForm.NumInterior.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.NumInterior.$invalid && !datosFiscalesForm.NumInterior.$pristine">Sólo valores numéricos</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-slack"></i>
                                </span>
                                <input type="text"
                                       id="numInteriorInput"
                                       class="form-control" 
                                       placeholder="# Int" 
                                       ng-focus="FacturarCtrl.OnFocus($event)" 
                                       ng-blur="FacturarCtrl.OnBlur($event)" 
                                       ng-model="FacturarCtrl.Direccion.NumInterior" 
                                       ng-model-options="{ debounce: 500 }"  
                                       ng-pattern="/[0-9]/"
                                       disabled
                                       />
                            </div>
                        </div>

                        <!-- Codigo Postal -->
                        <div class="col-sm-4 textbox-wrap" ng-class="{ 'error': datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine}">
                            <p class="error-text" ng-show="datosFiscalesForm.NumExterior.$invalid && !datosFiscalesForm.NumExterior.$pristine">Sólo valores numéricos</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-slack"></i>
                                </span>
                                <input type="text"
                                       id="codigoPostalInput"
                                       class="form-control" 
                                       placeholder="66055" 
                                       ng-focus="FacturarCtrl.OnFocus($event)" 
                                       ng-blur="FacturarCtrl.OnBlur($event)" 
                                       ng-model="FacturarCtrl.Direccion.CodigoPostal" 
                                       ng-model-options="{ debounce: 500 }"  
                                       disabled
                                       required />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Datos Ticket -->
            <div class="col-sm-6">
                <form name="despachoForm" ng-submit="FacturarCtrl.BuscarVenta()" novalidate>
                    <div class="section-content">
                        <div class="section-title">
                            <h4>Ingresa los datos de tu Ticket</h4>
                        </div>
                        <div collapse="!FacturarCtrl.Buscando"><alert type="info"><i class="fa fa-circle-o-notch fa-spin space-right"></i>Buscando venta #{{FacturarCtrl.data.folio}}</alert></div>
                        <div collapse="!FacturarCtrl.ErrorBusqueda.Mostrar"><alert type="danger" close="FacturarCtrl.ErrorBusqueda.Mostrar = false"><i class="fa fa-warning space-right"></i>{{FacturarCtrl.ErrorBusqueda.text}}</alert></div>

                        
                        <div class="textbox-wrap" ng-class="{ 'error': despachoForm.NoTicket.$invalid && !despachoForm.NoTicket.$pristine}">
                            <p class="error-text" ng-show="despachoForm.NoTicket.$invalid && !despachoForm.NoTicket.$pristine">Folio inválido</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-slack"></i>
                                </span>
                                <input type="text" name="NoTicket" ng-pattern="/[0-9A-z]/" id="noTicketInput" class="form-control" ng-focus="FacturarCtrl.OnFocus($event)" ng-blur="FacturarCtrl.OnBlur($event)" ng-model="FacturarCtrl.data.folio" ng-model-options="{ debounce: 500 }"  required />
                            </div>

                        </div>
                        <div class="textbox-wrap" ng-class="{ 'error': despachoForm.estacion.$invalid && !despachoForm.estacion.$pristine}">
                            <!---->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-building"></i>

                                </span>
                                <select ng-model="FacturarCtrl.data.empresa"
                                        id="noEstacionInput"
                                        class="form-control"
                                        name="estacion"
                                        ng-options="empresa.Nombre for empresa in FacturarCtrl.empresas" ng-disabled="FacturarCtrl.ventas.length > 0">
                                    <option value="">Selecciona la Estación</option>
                                </select>
                            </div>
                        </div>

                        <div class="textbox-wrap" ng-class="{ 'error': despachoForm.Monto.$invalid && !despachoForm.Monto.$pristine}">
                            <p class="error-text" ng-show="despachoForm.Monto.$invalid && !despachoForm.Monto.$pristine">Monto inválido</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                </span>
                                <input type="text" name="Monto" ng-pattern="/[0-9.]/" class="form-control" id="montoInput" placeholder="Monto" ng-focus="FacturarCtrl.OnFocus($event)" ng-blur="FacturarCtrl.OnBlur($event)" ng-model="FacturarCtrl.data.monto" ng-model-options="{ debounce: 500 }"  required />
                            </div>
                        </div>

                        <div class="form-action clearfix">
                            <button type="submit" class="btn btn-success pull-right green-btn" ng-disabled="FacturarCtrl.Buscando || despachoForm.$invalid">Enviar <i ng-hide="FacturarCtrl.Buscando" class="fa fa-chevron-right"></i><i ng-show="FacturarCtrl.Buscando" class="fa fa-spin fa-spinner"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Listado Tickets -->
            <div class="col-sm-6">
                <div class="section-content col-xs-12 no-side-padding">
                    <div class="section-title">
                        <h4>Tickets a Facturar</h4>
                    </div>
                    <alert class="animate-hide" ng-repeat="alerta in FacturarCtrl.ResultadoVentas" type="{{alerta.type}}" close="FacturarCtrl.CloseAlert($index)">{{alerta.text}}</alert>
                    <div class="table col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-4 text-left">Ticket</div>
                                <div class="col-xs-2 text-left">Monto</div>
                                <div class="col-xs-4 text-left">Fecha</div>
                                <div class="col-xs-1 text-left"></div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="venta in FacturarCtrl.ventas">
                            <div class="col-xs-12">
                                <!--data-target="detalle1"-->
                                <div class="col-xs-1"><a ng-attr-id="$index" ng-click="FacturarCtrl.Open($index)"><i class="fa fa-chevron-circle-right"></i></a></div>
                                <div class="col-xs-4">{{venta.Folio}}</div>
                                <div class="col-xs-2">{{venta.Monto | currency}}</div>
                                <div class="col-xs-4">{{venta.Fecha | date:'dd/MM/yyyy'}}</div>
                                <div class="col-xs-1"><a ng-click="FacturarCtrl.RemoveVenta($index)"><i class="fa fa-close"></i></a></div>
                            </div>
                            <div class="col-xs-11 col-xs-offset-1 collapse tabla-detalle" id="{{ 'detalle' + $index }}">
                                <table class="table col-xs-12">
                                    <thead>
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Cantidad</th>
                                            <th>P/U</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="detalle in venta.Detalles">
                                            <th>{{detalle.Concepto}}</th>
                                            <th>{{detalle.Cantidad}}</th>
                                            <th>{{detalle.ValorUnitario | currency}}</th>
                                            <th>{{detalle.Subtotal | currency}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-xs-12" style="display:none;">
                                    <div class="col-xs-4 col-xs-offset-4">Subtotal</div>
                                    <div class="col-xs-4 text-right">{{venta.Subtotal | currency}}</div>
                                    <div class="col-xs-4 col-xs-offset-4">Impuestos</div>
                                    <div class="col-xs-4 text-right">{{venta.Monto - venta.Subtotal | currency}}</div>
                                    <div class="col-xs-4 col-xs-offset-4">Total</div>
                                    <div class="col-xs-4 text-right">{{venta.Monto | currency}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center text-danger" ng-hide="FacturarCtrl.ventas.length > 0"> No se han agregado ventas</h5>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="section">
                <button class="col-lg-2 col-sm-4 col-xs-12 btn btn-success" style="margin-bottom:20px;" ng-click="FacturarCtrl.Facturar()" data-toggle="modal" data-target="#myModal" ng-disabled="(datosFiscalesForm.$invalid && !FacturarCtrl.Auth.Logged) || FacturarCtrl.ventas.length == 0">Facturar</button>
            </div>
        </div>

    </div>
</div>

<div>
    <script type="text/ng-template" id="ModalContent.html">
        <div class="modal-body">
            <h1 class="text-center">Generando Factura</h1>
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
            </div>
    </script>
</div>


<div style="display: none; padding-right: 19px;" class="modal fade bs in" id="ref_venta" tabindex="-1" role="dialog" aria-labelledby="Referencia">
    <!--<div class="modal-dialog modal-sm">-->
    <div class="modal-content container col-md-4 col-md-offset-4">

            <div class="row">
                <div ng-form="FacturarCtrl.ReferenciaForm">
                    <div class="section-content no-side-padding">
                        <div class="section-title"><h4>Referencia de pago</h4></div>
                        <form-input form="FacturarCtrl.ReferenciaForm"
                                    size="col-sm-12"
                                    name="Referencia"
                                    id="Referencia"
                                    icon="fa-slack"
                                    placeholder="Ingresa los últimos 4 digitos de la tarjeta utilizada"
                                    model="FacturarCtrl.ReferenciaDePago"
                                    error-text="Referencia Inválida"
                                    type="text"
                                    pattern="^[0-9]{4}$"
                                    required="true"></form-input>
                        <div class="margin pull-right">
                            <button class="btn btn-block btn-success" ng-disabled=" !FacturarCtrl.ReferenciaForm.$valid" ng-click="FacturarCtrl.validaMetodoDePago()">Enviar<i class="fa fa-chevron-right space" ng-hide="RegisterCtrl.Loading"></i><i class="fa fa-spinner fa-spin space" ng-show="RegisterCtrl.Loading"></i></button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>