﻿<section class="row hero">
    <div class="container">
        <div class="jumbotron home">
            <h1>Facturación Web</h1>
            <p>Facturación en linea de parte de HACSYS de México</p>
        </div>
    </div>
</section>
<section class="row detalles">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Rapidez</h2>
                <p>Con el sistema de facturación en linea de HACSYS, tus clientes tendrán la</p>
            </div>
            <div class="col-sm-4">
                <h2>Eficiencia</h2>
            </div>
            <div class="col-sm-4">
                <h2>Control</h2>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
    </div>
</section>
