﻿<div class="container">
    <h2>Mis Facturas</h2>
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <h4 class="col-sm-1">Fechas:</h4>
                    <div id="reportrange" class="col-sm-offset-1 col-sm-3" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table datatable="ng" dt-options="ListadoFacturasCtrl.dtOptions" class="table table-hover table-striped  dt-responsive">
                    <thead class="flat">
                        <tr>
                            <th>Folio</th>
                            <th>Cantidad</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="factura in ListadoFacturasCtrl.Facturas">
                            <td valign="middle">{{factura.Folio}}</td>
                            <td valign="middle">{{factura.Total | currency}}</td>
                            <td valign="middle">{{factura.Fecha | date : 'shortDate'}}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn" ng-href="api/Factura/GetPDF/{{factura.ComprobanteID}}"><i class="fa fa-file-pdf-o"></i></a>
                                    <a class="btn" ng-href="api/Factura/GetXML/{{factura.ComprobanteID}}"><i class="fa fa-file-text-o"></i></a>
                                    <a class="btn" ng-href="api/Factura/Email/{{factura.ComprobanteID}}"><i class="fa fa-envelope"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <!--<div class="row">
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary" href="#">Descargar Todas</a>
                        <a class="btn btn-primary" href="#">Reenviar por Correo</a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>