﻿<div id="LoginPanel">
    <div class="container">
        <div class="row eternity-form">
            <div class="center-form-section">
                <div class="section-content">
                    <form name="loginForm" ng-submit="LoginCtrl.Login()" novalidate>
                        <div class="section-title">
                            <h3>Ingresa tus datos</h3>
                        </div>
                        <div class="textbox-wrap" ng-class="{ 'error': loginForm.Usuario.$invalid && !loginForm.Usuario.$pristine}">
                            <p class="error-text" ng-show="loginForm.Usuario.$invalid && !loginForm.Usuario.$pristine">Correo invalido</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="email" name="Usuario" class="form-control" placeholder="Usuario" ng-focus="LoginCtrl.OnFocus($event)" ng-blur="LoginCtrl.OnBlur($event)" ng-model="LoginCtrl.loginCredentials.Email" ng-model-options="{ debounce: 500 }" required />
                            </div>
                        </div>
                        <div class="textbox-wrap" ng-class="{ 'error': loginForm.Password.$invalid && !loginForm.Password.$pristine}">
                            <p class="error-text" ng-show="loginForm.Password.$invalid && !loginForm.Password.$pristine">Contraseña invalida</p>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </span>
                                <input type="password" name="Password" class="form-control" placeholder="Contraseña" ng-focus="LoginCtrl.OnFocus($event)" ng-blur="LoginCtrl.OnBlur($event)" ng-model="LoginCtrl.loginCredentials.Password" ng-model-options="{ debounce: 500 }" ng-minlength="6" required />
                            </div>
                        </div>
                        <div class="form-action clearfix">
                            <!--<div class="checkbox pull-left">
                                <div class="custom-checkbox">
                                    <input type="checkbox" value="" hc-checkbox ng-model="LoginCtrl.loginCredentials.RememberMe" />
                                </div>
                                <span class="checkbox-text pull-left">&nbsp;Recordarme</span>
                            </div>-->
                            <button type="submit" class="btn btn-success pull-right green-btn" ng-disabled="loginForm.$invalid || LoginCtrl.Waiting">Enviar <i ng-hide="LoginCtrl.Waiting"class="fa fa-chevron-right"></i><i ng-show="LoginCtrl.Waiting" class="fa fa-spinner fa-spin"></i></button>
                        </div>
                        <div class="errors" ng-show="LoginCtrl.Errors.length > 0">
                            <h4>Errores al iniciar sesion:</h4>
                            <ul>
                                <li ng-repeat="error in LoginCtrl.Errors">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>

            <div class="register-section">
                <h4 style="color: rgb(108, 108, 108);">Facturar sin crear una cuenta</h4>
                <a href="#/Facturar" class="btn btn-block btn-danger">Facturación Rápida</a>
            </div>

            <div class="register-section">
                <h4>¿No tienes una cuenta?</h4>
                <a href="#/Registro">Registrar</a>
                <span>cuenta nueva</span>
            </div>
            <div class="password-section">
                <h4 class="green">¿Olvidaste tu contraseña?</h4>
                <a href="#/ForgotPassword" class="green">Reestablecer</a>
                <span>contraseña</span>
            </div>
        </div>
    </div>
</div>