﻿<div id="passwordRecovery">
    <div class="container">
        <div class="row">
            <h1>Recibirás un correo con la URL para confirmar tu cambio de password.</h1>
        </div>
    </div>
</div>