﻿<div class="container">
    <div class="row">
        <div class="col-sm-12"><h2>Registro de Usuarios</h2></div>
        <div ng-form="RegisterCtrl.RegisterForm">
            <div class="col-sm-6">
                <datos-fiscales-v model="RegisterCtrl" form="RegisterCtrl.RegisterForm"></datos-fiscales-v>
            </div>
            <div class="col-sm-6">
                <div class="section-content col-sm-12 no-side-padding">
                    <div class="section-title"><h4>Datos de Usuario</h4></div>
                    <form-input form="RegisterCtrl.RegisterForm"
                                size="col-sm-12"
                                name="Email"
                                id="Email"
                                icon="fa-at"
                                placeholder="Ingresa tu Correo"
                                model="RegisterCtrl.Account.Email"
                                error-text="Correo Inválido"
                                type="email"
                                required="true"></form-input>

                    <form-input form="RegisterCtrl.RegisterForm"
                                size="col-sm-12"
                                name="Password"
                                id="Password"
                                icon="fa-key"
                                placeholder="Ingresa tu Password"
                                model="RegisterCtrl.Account.Password"
                                errors="RegisterCtrl.Errors"
                                type="password"
                                validate="RegisterCtrl.PasswordValidation"
                                required="true"></form-input>

                    <form-input form="RegisterCtrl.RegisterForm"
                                size="col-sm-12"
                                name="PasswordConfirmation"
                                id="PasswordConfirmation"
                                icon="fa-lock"
                                placeholder="Confirma tu Password"
                                model="RegisterCtrl.Account.ConfirmPassword"
                                error-text="Passwords no coinciden"
                                type="password"
                                compare-to="RegisterCtrl.Account.Password"
                                required="true"></form-input>
                    <div class="errors" ng-show="RegisterCtrl.Errors.length > 0">
                        <h4>Errores al registrar:</h4>
                        <ul>
                            <li ng-repeat="error in RegisterCtrl.Errors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12 margin pull-right">
            <button class="btn btn-block btn-success" ng-disabled="RegisterCtrl.Loading || !RegisterCtrl.RegisterForm.$valid" ng-click="RegisterCtrl.OnSubmit()">Registrar<i class="fa fa-chevron-right space" ng-hide="RegisterCtrl.Loading"></i><i class="fa fa-spinner fa-spin space" ng-show="RegisterCtrl.Loading"></i></button>
        </div>
    </div>
</div>