﻿<div class="container" ng-controller="RegistraController">

    <form role="form" class="form-horizontal row" id="despachoID">
        <div class="col-lg-offset-4">

            <div class="row">
                <h2>Registrar Datos Fiscales</h2>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <label>RFC</label>
                    <input ng-model="usr.folio" type="text" name="rsocial" class="form-control" placeholder="RFC" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <label>Razón Social</label>
                    <input ng-model="usr.cantidad" type="text" class="form-control has-error" placeholder="S. A" autocomplete="off" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <label>Correo Electrónico</label>
                    <input ng-model="usr.mail" type="email" class="form-control has-error" placeholder="mail@mail.com" autocomplete="off" required>
                    <input type="checkbox" /> Recibir Notificaciones
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <input type="submit" ng-click="FacturarCtrl.BuscarDespacho(usr)" class="btn btn-default" value="Aceptar">
                </div>
            </div>
        </div>
    </form>

</div>