﻿<div class="container" ng-controller="AccountController">

    <form role="form" class="form-horizontal row" id="despachoID">
        <div class="col-lg-offset-4">

            <div class="row">
                <h2>Registrar Usuario</h2>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <label>Nombre de Usuario</label>
                    <input ng-model="usr.UserName" type="text" name="name" class="form-control" placeholder="Username" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <label>Correo Electrónico</label>
                    <input ng-model="usr.Email" type="email" class="form-control has-error" placeholder="mail@mail.com" autocomplete="off" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <label>Contraseña</label>
                    <input ng-model="usr.Password" type="password" class="form-control has-error" placeholder="***********" autocomplete="off" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <label>Confirma Contraseña</label>
                    <input ng-model="usr.RePassword" type="password" class="form-control has-error" placeholder="***********" autocomplete="off" required>
                    <input type="checkbox"/> Recibir Notificaciones
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <input type="submit" ng-click="AccountCtrl.register(usr)" class="btn btn-default" value="Aceptar">
                </div>
            </div>
        </div>
    </form>

</div>