﻿<div class="container">
    <div class="row">
        <br />
        <br />

        <div class="col-lg-1">
            <table class="table">
                <caption><h2>{{UserCtrl.UserName}}</h2></caption>
                <thead><img src="../../imgs/pemex1.jpg" style="width:250px" /></thead>
    
                <tr>
                    <td><a ui-sref="user.datos" id="menu1" class="btn btn-success col-sm-12 col-sm-offset-0 col-xs-12">Datos de Facturación</a></td>
                </tr>
                <tr>
                    <td><a ui-sref="user.password" id="menu1" class="btn btn-success col-sm-12 col-sm-offset-0 col-xs-12">Cambiar Contraseña</a></td>
                </tr>
                <tr>
                    <td><a ui-sref="user.Mail" id="menu1" class="btn btn-success col-sm-12 col-sm-offset-0 col-xs-12">Alta de Correo</a></td>
                </tr>
                <!--<tr>
                    <td><a ui-sref="user.facturas" id="menu2" class="btn btn-danger col-sm-12 col-sm-offset-0 col-xs-12">Facturas Pendientes</a></td>
                </tr>
                <tr>
                    <td><a class="btn btn-success col-sm-12 col-sm-offset-0 col-xs-12">Facturas Realizadas</a></td>
                </tr>
                <tr>
                    <td><a class="btn btn-success col-sm-12 col-sm-offset-0 col-xs-12">Soporte</a></td>
                </tr>-->

                </table>
        </div>

       <div ui-view></div>


        <div id="OTro" class="col-lg-8 col-lg-offset-3" style="background-color:black; display:none">
            <table class="table"></table>
        </div>
        <div id="otro2" class="col-lg-8 col-lg-offset-3" style="background-color:black; display:none">
            <table class="table"></table>
        </div>
    </div>
</div>
