﻿<div class="container">
    <div class="row">
        <h2>Cuenta Confirmada</h2>
        <p class="lead">
            Tu cuenta ha sido confirmada de forma exitosa, para ingresar al sistema, haz click en <a class="btn btn-info btn-lg">Login</a>
            e ingresa el usuario y contraseña que proporcionaste al registrarte.
        </p>
        
    </div>
</div>