﻿<div id="passwordRecovery">
    <div class="container">
        <h1>Reestrablecer Contraseña</h1>
        <div class="row eternity-form">
            <div class="center-form-section">
                <div class="section-content">
                    <!--TODO: Agregar el controler para conectarse al servicio de password recovery-->
                    <div ng-form="ForgotPasswordCtrl.RecoveryForm" ng-submit="ForgotPasswordCtrl.Enviar()" novalidate>
                        <div class="section-title">
                            <h3>Ingresa tu correo:</h3>
                        </div>
                        <div collapse="!ForgotPasswordCtrl.Error"><alert type="danger" close="ForgotPasswordCtrl.Error = false"><i class="fa fa-warning space-right"></i>{{ForgotPasswordCtrl.ErrorText}}</alert></div>

                        <form-input form="ForgotPasswordCtrl.RecoveryForm"
                                    size="col-sm-12"
                                    name="Correo"
                                    id="Correo"
                                    icon="fa-key"
                                    placeholder="Ingresa tu Correo"
                                    model="ForgotPasswordCtrl.Correo"
                                    errors="ForgotPasswordCtrl.RecoveryForm"
                                    type="text"
                                    validate="ForgotPasswordCtrl.PasswordValidation"
                                    required="true"></form-input>
                        
                        <div class="form-action clearfix">
                            <button ng-click="ForgotPasswordCtrl.Enviar()" class="btn btn-success pull-right green-btn" ng-disabled="ForgotPasswordCtrl.RecoveryForm.$invalid || ForgotPasswordCtrl.Waiting">Enviar <i ng-hide="ForgotPasswordCtrl.Waiting" class="fa fa-chevron-right"></i><i ng-show="ForgotPasswordCtrl.Waiting" class="fa fa-spinner fa-spin"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>