﻿<div class="container">
    <div class="row">
        <h1>Reestablecer Contraseña</h1>
        <p class="lead">Pronto recibirás un link en el correo proporcionado con los pasos a seguir para reestablecer tu contraseña</p>
    </div>
</div>