﻿<div id="passwordRecovery">
    <div class="container">
        <div class="row eternity-form">
            <div class="center-form-section">
                <div class="section-content">
                    <!--TODO: Agregar el controler para conectarse al servicio de password recovery-->
                    <form name="RecoveryForm" ng-submit="LoginCtrl.Login()" novalidate>
                        <div class="section-title">
                            <h3>Cambio de contraseña:</h3>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="password" name="pass" class="form-control" ng-focus="LoginCtrl.OnFocus($event)" ng-blur="PassCtrl.OnBlur($event)" ng-model="PassCtrl.usr.Pass" ng-model-options="{ updateOn: 'blur' }" required />
                            </div>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="password" name="password" class="form-control" ng-blur="LoginCtrl.OnBlur($event)" ng-model="PassCtrl.usr.RePass" ng-model-options="{ updateOn: 'blur' }" required />
                            </div>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="password" name="password" class="form-control" ng-blur="LoginCtrl.OnBlur($event)" ng-model="passCtrl.usr.NewPassword" ng-model-options="{ updateOn: 'blur' }" required />
                            </div>
                        </div>

                        <div class="form-action clearfix">
                            <button type="submit" class="btn btn-success pull-right green-btn" ng-disabled="loginForm.$invalid">Enviar <i class="fa fa-chevron-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>