﻿<div class="container">
    <div class="row">
        <div class="section-content col-sm-12 no-side-padding">
            <div class="section-title"><h4>Datos de Usuario</h4></div>
            <form-input form="RegisterCtrl.RegisterForm"
                        size="col-sm-12"
                        name="Email"
                        id="Email"
                        icon="fa-at"
                        placeholder="Ingresa tu Correo"
                        model="RegisterCtrl.Account.Email"
                        error-text="Correo Inválido"
                        type="email"
                        required="true"></form-input>

            <form-input form="RegisterCtrl.RegisterForm"
                        size="col-sm-12"
                        name="Password"
                        id="Password"
                        icon="fa-key"
                        placeholder="Ingresa tu Password"
                        model="RegisterCtrl.Account.Password"
                        errors="RegisterCtrl.Errors"
                        type="password"
                        validate="RegisterCtrl.PasswordValidation"
                        required="true"></form-input>

            <form-input form="RegisterCtrl.RegisterForm"
                        size="col-sm-12"
                        name="PasswordConfirmation"
                        id="PasswordConfirmation"
                        icon="fa-lock"
                        placeholder="Confirma tu Password"
                        model="RegisterCtrl.Account.ConfirmPassword"
                        error-text="Passwords no coinciden"
                        type="password"
                        compare-to="RegisterCtrl.Account.Password"
                        required="true"></form-input>
        </div>
    </div>
</div>