﻿<div class="container">
    <div class="row">
        <div class="section-content col-sm-4 col-sm-offset-4 no-side-padding">
            <div ng-form="ResetPasswordCtrl.Form">
                <div class="section-title"><h4>Reestablecer contraseña</h4></div>
                <div collapse="!ResetPasswordCtrl.Error"><alert type="danger" close="ResetPasswordCtrl.Error = false"><i class="fa fa-warning space-right"></i>{{ResetPasswordCtrl.ErrorText}}</alert></div>

                <form-input form="ResetPasswordCtrl.Form"
                            size="col-sm-12"
                            name="Email"
                            id="Email"
                            icon="fa-at"
                            placeholder="Ingresa tu Correo"
                            model="ResetPasswordCtrl.Correo"
                            error-text="Correo Inválido"
                            type="email"
                            required="true"></form-input>

                <form-input form="ResetPasswordCtrl.Form"
                            size="col-sm-12"
                            name="Password"
                            id="Password"
                            icon="fa-key"
                            placeholder="Ingresa tu nuevo Password"
                            model="ResetPasswordCtrl.Password"
                            errors="ResetPasswordCtrl.Errors"
                            type="password"
                            validate="ResetPasswordCtrl.PasswordValidation"
                            required="true"></form-input>

                <form-input form="ResetPasswordCtrl.Form"
                            size="col-sm-12"
                            name="PasswordConfirmation"
                            id="PasswordConfirmation"
                            icon="fa-lock"
                            placeholder="Confirma tu Password"
                            model="ResetPasswordCtrl.ConfirmPassword"
                            error-text="Passwords no coinciden"
                            type="password"
                            compare-to="ResetPasswordCtrl.Password"
                            required="true"></form-input>

                <div class="form-action clearfix">
                    <button ng-click="ResetPasswordCtrl.Enviar()" class="btn btn-success pull-right green-btn" ng-disabled="ResetPasswordCtrl.Form.$invalid || ResetPasswordCtrl.Waiting">Enviar <i ng-hide="ResetPasswordCtrl.Waiting" class="fa fa-chevron-right"></i><i ng-show="ResetPasswordCtrl.Waiting" class="fa fa-spinner fa-spin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>