﻿<div class="container">
    <div class="row">
        <h1>Reestablecer Contraseña</h1>
        <p class="lead">Cambio de contraseña éxitoso, para entrar a tu cuenta con la nueva contraseña haz click <a href="#/Login" class="btn btn-info btn-lg">aquí</a></p>
    </div>
</div>