﻿<div class="container">
    <div class="row">
        <h2>Confirma tu correo</h2>
        <p class="">Para continuar con tu registro haz click en el link que recibirás en el correo proporcionado</p>
    </div>
</div>