﻿<div class="container">
    <h1 class="text-success text-center">Factura Generada</h1>
    <div class="row">
        <p class="lead margin text-justify">Gracias por utilizar el sistema de facturación en linea, la factura fue generada exitosamente y será enviada al correo proporcionado.</p>
    </div>
    
    <div class="row">
        <a class="btn btn-danger col-sm-4 col-sm-offset-1 col-xs-12" ng-href="api/Factura/GetPDF/{{id}}">Descargar PDF<i class="fa fa-file-pdf-o fa-2x media-middle space"></i></a>
        <a class="btn btn-success col-sm-4 col-sm-offset-1 col-xs-12" ng-href="api/Factura/GetXML/{{id}}">Descargar XML<i class="fa fa-file-text-o fa-2x media-middle space"></i></a>
    </div>
    <div class="row" not="true" hc-auth>
        <p class="lead text-center margin">Registrate <strong>GRATIS</strong> y obtén todos los beneficios de la facturación en linea! <a href="#/Registro" class="btn btn-lg btn-info">Registrar</a></p>
        
    </div>
    <br />

    <div class="row">
        <!--<img class="col-xs-12" src="../../../imgs/pemex3.jpg" />-->
        <object ng-attr-data="api/Factura/GetPDF/{{id}}?inline=true" type="application/pdf" class="col-xs-12" height="400px">

            <p>
               Parece que no se puede mostrar el pdf...
               No hay problema! puedes descargarlo desde el siguiente enlace: <a href="api/Factura/GetPDF/{{id}}">
                    Click Aquí para descargar el PDF
                </a>
            </p>
           
        </object>
    </div>
</div>