﻿<div class="container">
    <div class="row">
        <div class="section-content col-sm-4 col-sm-offset-4 no-side-padding">
            <div ng-form="ChangePasswordCtrl.Form">
                <div class="section-title"><h4>Cambio de contraseña</h4></div>
                <div collapse="!ChangePasswordCtrl.Error"><alert type="danger" close="ChangePasswordCtrl.Error = false"><i class="fa fa-warning space-right"></i>{{ChangePasswordCtrl.ErrorText}}</alert></div>
                <div collapse="!ChangePasswordCtrl.Success"><alert type="success" close="ChangePasswordCtrl.Success = false"><i class="fa fa-warning space-right"></i>{{ChangePasswordCtrl.SuccessText}}</alert></div>

                <form-input form="ChangePasswordCtrl.Form"
                            size="col-sm-12"
                            name="OldPassword"
                            id="OldPassword"
                            icon="fa-key"
                            placeholder="Ingresa tu contraseña actual"
                            model="ChangePasswordCtrl.OldPassword"
                            type="password"
                            required="true"></form-input>

                <form-input form="ChangePasswordCtrl.Form"
                            size="col-sm-12"
                            name="NewPassword"
                            id="NewPassword"
                            icon="fa-key"
                            placeholder="Ingresa tu nueva contraseña"
                            model="ChangePasswordCtrl.NewPassword"
                            errors="ChangePasswordCtrl.Errors"
                            type="password"
                            validate="ChangePasswordCtrl.PasswordValidation"
                            required="true"></form-input>

                <form-input form="ChangePasswordCtrl.Form"
                            size="col-sm-12"
                            name="ConfirmPassword"
                            id="ConfirmPassword"
                            icon="fa-lock"
                            placeholder="Confirma tu Password"
                            model="ChangePasswordCtrl.ConfirmPassword"
                            error-text="Passwords no coinciden"
                            type="password"
                            compare-to="ChangePasswordCtrl.NewPassword"
                            required="true"></form-input>

                <div class="form-action clearfix">
                    <button ng-click="ChangePasswordCtrl.Enviar()" class="btn btn-success pull-right green-btn" ng-disabled="ChangePasswordCtrl.Form.$invalid || ChangePasswordCtrl.Waiting">Enviar <i ng-hide="ChangePasswordCtrl.Waiting" class="fa fa-chevron-right"></i><i ng-show="ChangePasswordCtrl.Waiting" class="fa fa-spinner fa-spin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>