﻿<div id="DatosFacturacion" class="col-lg-8 col-lg-offset-3">
    <table class="table">
        <thead><h1>Datos de Facturación</h1></thead>
        <tr>
            <td><h4>RFC:</h4></td>
            <td><h4>{{UserCtrl.userData.RFC}}</h4></td>
        </tr>
        <tr>
            <td><h4>Razón Social:</h4></td>
            <td><h4>{{UserCtrl.userData.RazonSocial}}</h4></td>
        </tr>
        <tr>
            <td><h4>Calle:</h4></td>
            <td><h4>{{UserCtrl.userData.Direccion.Calle + " " + "#" + UserCtrl.userData.Direccion.NumExterior}}</h4></td>
        </tr>
        <tr>
            <td><h4>Colonia:</h4></td>
            <td><h4>{{UserCtrl.userData.Direccion.Colonia}}</h4></td>
        </tr>
        <tr>
            <td><h4>Estado:</h4></td>
            <td><h4>{{UserCtrl.userData.Direccion.Estado.Nombre}}</h4></td>
        </tr>
        <tr>
            <td><h4>Municipio:</h4></td>
            <td><h4>{{UserCtrl.userData.Direccion.Municipio}}</h4></td>
        </tr>
        <tr>
            <td colspan="4"><a  ui-sref="user.direccion" class="btn btn-success col-sm-12 col-sm-offset-0 col-xs-12">Editar dirección</a></td>
        </tr>
    </table>
</div>