﻿<!--<div ng-form="UserCtrl.RegisterForm" class="col-lg-8 col-lg-offset-3">
    <div ng-form="UserCtrl.RegisterForm">
        <datos-fiscales-user model="UserCtrl" form="UserCtrl.RegisterForm"></datos-fiscales-user>
        <div class="col-sm-4 textbox-wrap">

            <a class="btn btn-block btn-success" ng-click="UserCtrl.OnSubmit()">Registrar<i class="fa fa-chevron-right space"></i></a>

        </div>
    </div>
</div>-->

<div ng-form="UserCtrl.RegisterForm" class="col-lg-8 col-lg-offset-3">
    <form name="UdatosFiscalesForm" ng-submit="UserCtrl.OnSubmit()" novalidate>
        <div class="section-content col-sm-12 no-side-padding">
            <div class="section-title">
                <h4>Ingresa tus Datos Fiscales</h4>
            </div>

            <!-- Pais -->
            <div class="col-sm-6 textbox-wrap">
                <!--TODO :Formatear bien los formularios-->
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-globe"></i>
                    </span>
                    <select name="Pais"
                            class="form-control"
                            id="paisInput"
                            ng-options="pais.Nombre for pais in UserCtrl.Paises"
                            ng-focus="UserCtrl.OnFocus($event)"
                            ng-blur="UserCtrl.OnBlur($event)"
                            ng-model="UserCtrl.Direccion.Pais"
                            ng-model-options="{ updateOn: 'blur' }"
                            required>
                        <option value="" disabled selected>Selecciona el País</option>
                    </select>
                </div>
            </div>

            <!-- Estado -->
            <div class="col-sm-6 textbox-wrap">
                <!--TODO :Formatear bien los formularios-->
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-globe"></i>
                    </span>
                    <select name="Estado"
                            class="form-control"
                            id="estadoInput"
                            ng-options="estado.Nombre for estado in UserCtrl.Direccion.Pais.Estados "
                            ng-focus="UserCtrl.OnFocus($event)"
                            ng-blur="UserCtrl.OnBlur($event)"
                            ng-model="UserCtrl.Direccion.Estado"
                            ng-model-options="{ updateOn: 'blur' }"
                            required>
                        <option value="" disabled selected>Selecciona el Estado</option>
                    </select>
                </div>
            </div>

            <!-- Colonia -->
            <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': UserCtrl.Colonia.$invalid && !UserCtrl.Colonia.$pristine}">
                <p class="error-text" ng-show="UserCtrl.Colonia.$invalid && !UserCtrl.Colonia.$pristine">Colonia inválida</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-thumb-tack"></i>
                    </span>
                    <input type="text"
                           name="Colonia"
                           id="coloniaInput"
                           class="form-control"
                           placeholder="Colonia"
                           ng-focus="UserCtrl.OnFocus($event)"
                           ng-blur="UserCtrl.OnBlur($event)"
                           ng-model="UserCtrl.Direccion.Colonia"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                           required />
                </div>
            </div>

            <!-- Municipio -->
            <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': UserCtrl.Municipio.$invalid && !UserCtrl.Municipio.$pristine}">
                <p class="error-text" ng-show="UserCtrl.Municipio.$invalid && !UserCtrl.Municipio.$pristine">Municipio inválido</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-location-arrow"></i>

                    </span>
                    <input type="text"
                           name="Municipio"
                           id="municipioInput"
                           class="form-control"
                           placeholder="Municipio"
                           ng-focus="UserCtrl.OnFocus($event)"
                           ng-blur="UserCtrl.OnBlur($event)"
                           ng-model="UserCtrl.Direccion.Municipio"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                           required />
                </div>
            </div>

            <!-- Localidad -->
            <div class="col-sm-6 col-lg-4 textbox-wrap" ng-class="{ 'error': UserCtrl.Localidad.$invalid && !UserCtrl.Localidad.$pristine}">
                <p class="error-text" ng-show="UserCtrl.Localidad.$invalid && !UserCtrl.Localidad.$pristine">Localidad inválida</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-compass"></i>
                    </span>
                    <input type="text"
                           name="Localidad"
                           id="localidadInput"
                           class="form-control"
                           placeholder="Localidad"
                           ng-focus="UserCtrl.OnFocus($event)"
                           ng-blur="UserCtrl.OnBlur($event)"
                           ng-model="UserCtrl.Direccion.Localidad"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-pattern="/[0-9A-Za-z,.]/" />
                </div>
            </div>

            <!-- Calle -->
            <div class="col-sm-12 textbox-wrap" ng-class="{ 'error': UserCtrl.Calle.$invalid && !UserCtrl.Calle.$pristine}">
                <p class="error-text" ng-show="UserCtrl.Calle.$invalid && !UserCtrl.Calle.$pristine">Calle inválida</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-road"></i>
                    </span>
                    <input type="text"
                           name="Calle"
                           id="calleInput"
                           class="form-control"
                           placeholder="Calle"
                           ng-focus="UserCtrl.OnFocus($event)"
                           ng-blur="UserCtrl.OnBlur($event)"
                           ng-model="UserCtrl.Direccion.Calle"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-pattern="/[0-9A-Za-z,.]{3,50}/"
                           required />
                </div>
            </div>

            <!-- # Int -->
            <div class="textbox-wrap col-sm-4" ng-class="{ 'error': UserCtrl.NumInterior.$invalid && !UserCtrl.NumInterior.$pristine}">
                <p class="error-text" ng-show="UserCtrl.NumInterior.$invalid && !UserCtrl.NumInterior.$pristine">Sólo valores numéricos</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-slack"></i>
                    </span>
                    <input type="text"
                           name="NumInterior"
                           id="numInteriorInput"
                           class="form-control"
                           placeholder="# Int"
                           ng-focus="UserCtrl.OnFocus($event)"
                           ng-blur="UserCtrl.OnBlur($event)"
                           ng-model="UserCtrl.Direccion.NumInterior"
                           ng-model-options="{ updateOn: 'blur' }" />
                </div>
            </div>

            <!-- # Ext -->
            <div class="textbox-wrap col-sm-4" ng-class="{ 'error': UserCtrl.NumExterior.$invalid && !UserCtrl.NumExterior.$pristine}">
                <p class="error-text" ng-show="UserCtrl.NumExterior.$invalid && !UserCtrl.NumExterior.$pristine">Sólo valores numéricos</p>
                <p class="error-text" ng-show="">Contraseña invalida</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-slack"></i>
                    </span>
                    <input type="text"
                           name="NumExterior"
                           id="numExteriorInput"
                           class="form-control"
                           placeholder="# Ext"
                           ng-focus="UserCtrl.OnFocus($event)"
                           ng-blur="UserCtrl.OnBlur($event)"
                           ng-model="UserCtrl.Direccion.NumExterior"
                           ng-model-options="{ updateOn: 'blur' }"
                           required />
                </div>
            </div>

            <!-- Codigo Postal -->
            <div class="col-sm-4 textbox-wrap" ng-class="{ 'error': UserCtrl.NumExterior.$invalid && !UserCtrl.NumExterior.$pristine}">
                <p class="error-text" ng-show="UserCtrl.NumExterior.$invalid && !UserCtrl.NumExterior.$pristine">Sólo valores numéricos</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-slack"></i>
                    </span>
                    <input type="text"
                           name="CodigoPostal"
                           id="codigoPostalInput"
                           class="form-control"
                           placeholder="Codigo Postal"
                           ng-focus="UserCtrl.OnFocus($event)"
                           ng-blur="UserCtrl.OnBlur($event)"
                           ng-model="UserCtrl.Direccion.CodigoPostal"
                           ng-model-options="{ updateOn: 'blur' }"
                           required />
                </div>
            </div>

        </div>
    </form>


    <div class="col-sm-4 textbox-wrap">

        <button class="btn btn-block btn-success" ng-click="UserCtrl.OnSubmit()">Registrar<i class="fa fa-chevron-right space"></i></button>

    </div>
</div>