﻿<div class="container">
    <div class="row">
        <div class="section-content col-sm-4 col-sm-offset-4 no-side-padding">
            <div ng-form="UserCtrl.Form">
                <div class="section-title"><h4>Agregar Correo</h4></div>

                <form-input form="UserCtrl.Form"
                            size="col-sm-12"
                            name="newMail"
                            id="newMail"
                            icon="fa-lock"
                            placeholder="correo@servicio.com"
                            model="UserCtrl.newMail"
                            type="mail"
                            required="true"></form-input>

                <div class="form-action clearfix">
                    <button ng-click="UserCtrl.AddMail()" class="btn btn-success pull-right green-btn" ng-disabled="UserCtrl.Form.$invalid || UserCtrl.Waiting">Enviar <i ng-hide="ChangePasswordCtrl.Waiting" class="fa fa-chevron-right"></i><i ng-show="UserCtrl.Waiting" class="fa fa-spinner fa-spin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>